<!DOCTYPE html>
<html lang="en">

<head>

	<meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content = "width=device-width, initial-scale=1.0">
    <!-- The above 3 meta tags *must* come first in the head;
    any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
	{% load staticfiles %}
    <link rel="stylesheet" href="{% static 'myapp/css/bootstrap.min.css' %}"
              type = "text/css"/>

    <!-- addtional style information  -->
    <link rel="stylesheet" href="{% static 'myapp/css/mysite_local.css' %}"
              type = "text/css"/>
    <link rel="stylesheet" href="{% static 'myapp/css/blog.css' %}"
              type = "text/css"/>

    <link rel="icon" href="{% static 'myapp/img/icon.png' %}">

    <title>Code for Future</title>

	<style type="text/css">
		html, body { height:100% }
	</style>

</head>

<body>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                  data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'home' %}">Code for Future</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse pull-right">
          <ul class="nav navbar-nav">
            <!--
            <li class="active"><a href="#">Home</a></li>
            -->
            <li><a href="#research"> Research </a></li>
            <li><a href="#teach"> Teach </a></li>
            <li><a href="#award"> Award </a></li>
            <li><a href="#resume"> Resume </a></li>
            <li><a href="#contact"> Contact </a></li>

            <!--
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li role="separator" class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
            -->

          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>



    <div class="container">
        <hr style="margin: 0 0 1% 0;">
        <footer class="footer">
          <p>&copy; 2017 Rong Huangfu</p>
        </footer>
    </div>






    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    {% load staticfiles %}
    <script src="{% static 'myapp/js/jquery.min.js' %}"></script>
    <script>window.jQuery || document.write('<script src="{% static 'mysite/js/jquery.min.js' %}"><\/script>')</script>
    <script src="{% static 'myapp/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'myapp/js/docs.min.js' %}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{% static 'myapp/js/ie10-viewport-bug-workaround.js' %}"></script>

</body>
</html>